<!DOCTYPE html>
<!--
  Created by IntelliJ IDEA.
  User: Jamin
  Date: 2019/4/27
  Time: 15:30
  Desc: 模板
  -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <script th:src="@{/js/jquery-3.4.0.min.js}" type="text/javascript"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-table.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-table.min.css}">
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/myjs.js}"></script>
</head>
<body>
</body>
</html>